.TodoCounter {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 16px 0 20px;
  font-weight: 400;
  color: #2c2c3e;
  font-family: 'Montserrat', sans-serif;
}

.TodoCounter span {
  font-weight: 700;
}